<div class="container py-4">
  <app-hero-component></app-hero-component>
  <h2 data-test="libelle-type-champ" class="mt-4 text-center">{{ libelleTypeChamps }}</h2>
  <div class="row">
    <div class="col-3">
      <select data-test="select-champ-by-type" class="lol-select" (change)="sortTypeChamp($event)">
        @for (championType of CHAMPION_TYPES; track championType) {
        <option data-test="type-champion-option" [selected]="championType.type === 'Free'" [id]="championType.id" [value]="championType.type">
          {{ championType.libelle }}
        </option>
        }
      </select>
    </div>
  </div>
  @if(listChampions().length){
  <div class="row mt-4">
    @for (champion of listChampions(); track champion.id) {
    <div class="m-1 card champion-card text-white overflow-hidden position-relative">
      <img [alt]="champion.name" [src]="'https://ddragon.leagueoflegends.com/cdn/' + lastVersionLolSignal() + '/img/champion/' + champion.image.full" />
      <div class="overlay d-flex align-items-end p-2">
        <h6 class="card-title m-0">{{ champion.name }}</h6>
      </div>
    </div>
    }
  </div>
  }@else {
  <p data-test="error-message-free-champs" class="error-message ms-3 p-2">{{ champsErrorMsg }}</p>
  }
</div>
