@if (!isCarouselLoading && !isCarouselError){
<div class="d-flex justify-content-center">
  <ngb-carousel class="w-50" [interval]="INTERVAL_CAROUSSEL" [pauseOnHover]="true" [wrap]="true">
    <ng-template ngbSlide>
      <div
        data-test="bloc-best-challenger-player-soloQ"
        (click)="goToPlayerDataLeagueEntries(gameNameBestChalPlayerSoloQ!, tagLineChalSoloQPlayer!)"
        [ngStyle]="{ 'background-image': urlBackgroundBannerSoloQSignal() }"
        class="element-carrousel-challenger"
      >
        <div class="row h-100">
          <div class="col ms-4 d-flex mt-3">
            <div class="profilIcone">
              <img
                [src]="
                  'https://ddragon.leagueoflegends.com/cdn/' +
                  lastVersionLolSignal() +
                  '/img/profileicon/' +
                  firstChallengerSummonerSoloQSignal()?.profileIconId +
                  '.png'
                "
                alt="îcone profil"
              />
            </div>
            <h2 class="text-center ms-2">{{ gameNameBestChalPlayerSoloQ }}</h2>
          </div>
          <div class="row d-flex align-items-end">
            <div class="col d-flex justify-content-between">
              <span class="text-hero ms-2 ps-2">Numéro 1 Solo Queue EUW - {{ firstChallengerPlayerSoloQSignal()?.leaguePoints + " LP" }}</span>
              <span class="text-hero ps-2 pe-2">
                {{ firstChallengerPlayerSoloQSignal()?.wins + " V /" + firstChallengerPlayerSoloQSignal()?.losses + " D" }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div
        data-test="bloc-best-challenger-player-flexQ"
        (click)="goToPlayerDataLeagueEntries(gameNameBestChalPlayerFlex!, tagLineChalFlexPlayer!)"
        [ngStyle]="{ 'background-image': urlBackgroundBannerFlexQSignal() }"
        class="element-carrousel-challenger"
      >
        <div class="row h-100">
          <div class="col d-flex ms-4 mt-3">
            <div class="profilIcone">
              <img
                [src]="
                  'https://ddragon.leagueoflegends.com/cdn/' +
                  lastVersionLolSignal() +
                  '/img/profileicon/' +
                  firstChallengerSummonerFlexSignal()?.profileIconId +
                  '.png'
                "
                alt="îcone profil"
              />
            </div>
            <h2 class="text-center ms-2">{{ gameNameBestChalPlayerFlex }}</h2>
          </div>
          <div class="row d-flex align-items-end">
            <div class="col d-flex justify-content-between">
              <span class="text-hero ms-2 ps-2 pe-2">Numéro 1 Flex Queue EUW - {{ firstChallengerPlayerFlexSignal()?.leaguePoints + " LP" }}</span>
              <span class="text-hero ps-2 pe-2"
                >{{ firstChallengerPlayerFlexSignal()?.wins + " V /" + firstChallengerPlayerFlexSignal()?.losses + " D" }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    @if(mostRecentChampionDtoSignal()){
    <ng-template ngbSlide>
      <div data-test="bloc-most-recent-champion" class="element-carrousel-challenger" [ngStyle]="{ 'background-image': urlBackgroundMostRecentChampion() }">
        <div class="row h-100">
          <div class="col d-flex ms-4 mt-3">
            <div class="profilIcone">
              <img
                [src]="'https://ddragon.leagueoflegends.com/cdn/' + lastVersionLolSignal() + '/img/champion/' + mostRecentChampionDtoSignal()?.image?.full"
                alt="îcone champion"
              />
            </div>
            <h2 class="text-center ms-2">{{ mostRecentChampionDtoSignal()?.name }}</h2>
          </div>
          <div class="row d-flex align-items-end">
            <div class="col d-flex justify-content-between">
              <span class="text-hero ms-2 ps-2 pe-2">Champion le plus récent</span>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    }
  </ngb-carousel>
</div>
}@else if (isCarouselLoading) {

<div class="row text-white">
  <div class="col text-center">
    <div class="spinner-border spinner-custom"></div>
  </div>
</div>
}
