<div class="container">
  @if(!isLoading){
  <div class="row">
    <div [ngStyle]="{ 'background-image': urlBackgroundBannerSignal() }" class="col-12 main-champion-banner">
      <div class="mt-3 row w-100">
        <div class="icon-player-container col-1">
          <img
            class="icon-player-image"
            [src]="'https://ddragon.leagueoflegends.com/cdn/' + lastVersionLolSignal() + '/img/profileicon/' + summonerDto.profileIconId + '.png'"
          />
        </div>
        <div class="col-11">
          <h2>
            <span class="text-gameName-level ps-2 pe-2">{{ gameName }} #{{ tagLine }}</span>
          </h2>
          <span>Niveau {{ summonerDto.summonerLevel }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    @if(leagueEntriesSignal().length){ @for (leagueEntry of leagueEntriesSignal(); track $index; let i = $index) {
    <div data-test="bloc-data-league-entry" class="col-6 league-entry" [ngClass]="{ 'first-entry': i === 0, 'second-entry': i === 1 }">
      <h3 class="text-center">{{ leagueEntry.queueType }}</h3>
      <div class="data mt-4 pt-4 pb-4">
        <p>{{ leagueEntry.tier }} {{ leagueEntry.rank }}</p>
        <p>{{ leagueEntry.leaguePoints }} LP</p>
        <p>Victoires: {{ leagueEntry.wins }} - Défaites: {{ leagueEntry.losses }}</p>
      </div>
      <div class="img-rank-container">
        <img class="img-rank" alt="tier emblem" [src]="computeTierEmblem(leagueEntry.tier)" />
      </div>
    </div>
    }}@else {
    <div data-test="bloc-default-no-data-league-entry" class="text-center mt-2">
      <h3>Il n'y a pas d'informations sur ce joueur.</h3>
      <p>Il n'a peut être pas encore joué de parties classées ou est peut être inactif.</p>
    </div>
    }
  </div>
  }@else {
  <div class="row text-white">
    <div class="col text-center">
      <div class="spinner-border spinner-custom"></div>
    </div>
  </div>
  }
</div>
