.main-champion-banner {
  display: flex;
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}

.icon-player-container .icon-player-image {
  width: 80px;
  height: 80px;
}

.text-gameName-level {
  background-color: var(--color-black-trans-1);
}

.league-entry {
  color: var(--color-gold-lol-1);
}

.data p {
  margin: 0;
  padding: 0;
}

.img-rank-emblem {
  height: 140px;
}

.custom-button-radio {
  border-color: var(--color-gold-lol-1);
  color: var(--color-gold-lol-1);
}

.custom-button-radio:hover {
  border-color: var(--color-gold-lol-1);
  color: var(--color-gold-lol-1);
}

.btn-check:checked + .btn {
  border-color: var(--color-gold-lol-1);
  background-color: var(--color-gold-lol-1);
  color: white;
}

.bloc_unranked {
  height: 140px;
}
