spring:
  config:
    import: "optional:classpath:application-secrets.yml"
  profiles:
    active: dev
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yml
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
