.text-gold-1 {
  color: var(--color-gold-lol-1);
}

.win {
  color: var(--color-text-win);
}

.loss {
  color: var(--color-text-loss);
}

.icon-kill {
  width: 30px;
}

.icon-gold {
  height: 22px;
}
